$color__background-body: rgb(56, 56, 56);
$color__background-section: rgb(0, 111, 175);
$color__background-header:rgb(49, 179, 255);
$color__background-barre:rgb(255, 255, 255);
$color__background-footer: rgb(27, 57, 75);
$color__background-main:rgb(110, 110, 110);
$color__background-carte-hover: rgb(0, 58, 92);

// liens
$color__link: #777777; //royalblue
$color__link-visited: #dadada; //purple
$color__link-hover: #191970; //midnightblue

$color__background-link-hover: #000000;
//texte color
$color__main-carte: rgb(100, 100, 100);
$color__main-carte-hover: rgb(207, 207, 207);

// footer
$color__link__footer: #a8a8a8; //royalblue
$color__link__footer-visited: #383838; //purple
$color__link__footer-hover: #191970; //midnightblue