/* ---------------- BACKGROUND */
$color__background-body : hsl(18, 19%, 49%);
$color__background-main : hsl(0, 64%, 79%);
$color__background-cours : hsl(7, 100%, 91%);
$color__background-header : hsl(17, 25%, 28%);
$color__background-barre : hsl(0, 100%, 76%);
$color__background-footer : hsl(17, 8%, 17%);
$color__background-link : hsl(0, 100%, 82%);
$color__background-link-hover : hsl(0, 100%, 91%);

/* ---------------- LIENS */
$color__link : hsl(18, 27%, 38%);
$color__link-hover : hsl(0, 0%, 100%);
$color__link-visited : hsl(19, 29%, 28%);
/* ---------------- LIENS FOOTER */
$color__link__footer : hsl(0, 91%, 50%);
$color__link__footer-hover : hsl(123, 80%, 49%);
$color__link__footer-visited : hsl(231, 84%, 50%);


/* ---------------- FONT */
$color__font-header : rgb(250, 146, 146);
$color__font-main :rgb(68, 57, 54);
$color__font-barre : rgb(255, 255, 255);
$color__font-footer : rgb(255, 202, 188);