/*---------------- COULEUR PRINCIPAL */
$color__principal__blanc : #ffffff !default;
$color__principal__noir :  #000000 !default;
$color__principal__coloration : #ff5353 !default;
$color__principal__nuancer : #2c2c2c !default;
$color__principal__nuancer__gris : #878787 !default;
$color__principal__nuancer__pale : #cfcfcf !default;

/* ---------------- BACKGROUND */
// ---header
$color__background-header : $color__principal__coloration;
// ---body and main
$color__background-main : $color__principal__noir;
$color__background-body : $color__principal__nuancer;
$color__background-barre : $color__principal__blanc;
$color__background-body-clip : $color__principal__coloration;

// ---footer
$color__background-footer : $color__principal__noir;

/* ---------------- LIENS */
$color__link : $color__principal__nuancer;
$color__link-hover : $color__principal__blanc;
$color__link-visited : $color__principal__nuancer__gris;
$color__main-carte-hover: $color__principal__nuancer__pale;
/* ---------------- LIENS background*/
$color__background-link : $color__principal__blanc;
$color__background-link-hover : $color__principal__nuancer;
/* ---------------- LIENS FOOTER */
$color__link__footer : $color__principal__nuancer__pale;
$color__link__footer-hover : $color__principal__coloration;
$color__link__footer-visited : $color__principal__nuancer__gris;
/* ---------------- LIENS HEADER titre principal du site */
$color__link__header : $color__principal__noir;
$color__link__header-hover : $color__principal__blanc;
$color__link__header-visited : $color__principal__noir;

/* ---------------- FONT */
$color__font-header : $color__principal__blanc;
$color__font-Titre-main : $color__principal__blanc;
$color__font-main : $color__principal__noir;
$color__font-barre : $color__principal__nuancer__pale;
$color__font-footer : $color__principal__nuancer__pale;

/*-------article */
$color__background-cours : $color__principal__blanc;
$color__background-cours-hover : $color__principal__coloration;

/*-------couleur boutton */
$couleur__bouton__current : $color__principal__blanc;
$couleur__bouton__background--current : $color__principal__noir;

/*-------couleur texte-------*/
$couleur__titre__principale : $color__principal__blanc;
$couleur__titre__secondaire : $color__principal__blanc;
$couleur__titre__ternaire : $color__principal__blanc;
$couleur__paragraphe : $color__principal__blanc;