.site__main {
    display: flex;
    flex-wrap: wrap;
    background-color: $color__background-section;
    justify-content: space-evenly;
    row-gap: 20px;
}
.main__titre {
    text-align: center;
    font-size: 2rem;
    width: 100%;
    padding : 0 0 0 15px; 
    display: block;
    font-family: $font__main-h2;

}
.carte {
    display: flex;
    flex-direction: column;
    border: 1px solid 1px;
    width: 100%;
    padding: 10px;
    background-color: $color__background-barre;
    border-radius: 25px;
    transition: all 0.3s ease-out;
    color: $color__main-carte;
    &:hover {
        background-color: $color__background-carte-hover;
        color: $color__main-carte-hover;
    }
}
.carte__titre {
    font-size: 1.5rem;
}
.carte__contenu {
    font-size: 0.8rem;
}
@media screen and (min-width: $largeur__media-tablette) {
    .carte {
        width: 45%;
        &:hover {
            transform: scale(1.1);
            box-shadow: 5px 5px 15px 1px rgba($color: #000000, $alpha: 1.0);
        }
    }
}
@media screen and (min-width: $largeur__media-desktop) {
    .carte {
        width: 30%;
    }
}