.site__footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.site__info{
    color: whitesmoke;
    display: flex;
    flex-direction: row;
}

.site__info2{
    display: flex;
    flex-direction: row;
}

.site__info2__droit{
    color: whitesmoke;
}