.atelier{
    padding-left: 20px;
    p{
        color: $color__principal__nuancer__pale;
    }
}
.atelier_html .menu-item-icone{
    background-image: url("https://s2.svgbox.net/files.svg?ic=css");
}
.atelier_css .menu-item-icone{
    background-image: url("https://s2.svgbox.net/files.svg?ic=css");
}
.atelier_react .menu-item-icone{
    background-image: url("https://s2.svgbox.net/files.svg?ic=css");
}
.atelier_git .menu-item-icone{
    background-image: url("https://s2.svgbox.net/files.svg?ic=css");
}