.site__main {
    
    margin: 10px 15px;
    background-color: $color__background-main;
    border-radius: 5px;
    box-shadow: rgb(57, 68, 62) 1px -1px 10px;
    overflow: hidden;
}
//list cours
.formation {
    display: flex;
    flex-direction: column;

    &__titre {
        font-size: 2rem;
        color: $color__font-header;
        margin: 10px 0px;
        font-family: $font__titre;
    }
    &__liste {
        display: flex;
        flex-wrap: wrap;
        a{
            text-decoration: none;
        }
    }
    &__cours {
        box-shadow: rgb(57, 64, 68) 1px -1px 10px;
        border-radius: 15px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow: hidden;
        position: relative;
        transition: all 0.3s ease-out;
        &__affiche{
            position: absolute;
            width: 100%;
            height:100%;
            background-color: $color__background-cours;
            padding: 10px;
        }
        &__description{
            width: 100%;
            height:100%;
            background-color: $color__background-cours-hover;
            transition: all .7s ease-in-out;
            padding: 20px;
            box-sizing: border-box;
            clip-path: circle(0% at 100% 100%);
            padding: 10px;
        }
        &:hover .formation__cours__description{
            left:0px;
            transition: all .7s ease-in-out;
            clip-path: circle(75%);
        }
        &:hover{
            transition: all .5s cubic-bezier(.8,.5,.2,1.4);
            background-color: $color__background-cours-hover;
            box-shadow: 5px 5px 15px 1px rgba($color: #000000, $alpha: 1.0);
            z-index: 1;
        }
        @media screen and (min-width : $largeur__media--tablette){
            width: 45%;
            &:hover{
                transform: scale(1.1);
            }
        }
        @media screen and (min-width : $largeur__media--desktop){
            width: 30%;
        }
    }


}
.cours__titre {
    font-size: 1.5rem;
    color: $color__font-main;
    margin: 5px 0px;
}

.cours__sigle {
    font-size: 1.2rem;
    color: rgb(138, 83, 83);
    margin: 0;
}

.cours__description {
    font-size: 1rem;
}
// single post.php
.single__cours {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    .single__cours__intro {
    
        width: 100%;
        padding-bottom: 15px;
        padding-left: 15px;
    }
    .single__cours__contenu{
        position: relative;
        width: 100%;
        height: auto;
        overflow: hidden;
        transition: all .7s ease-in-out;
        background-color: $color__background-barre;
        .single__cours__image { 
            width: 100%;
            position: absolute;
            img {
                transition: all .7s ease-in-out;
                width: 100%;
                height: auto;
                clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 100%);
            }
        } 
        .single__cours__description {
            padding: 15px;
            color: $color__background-body-clip;
            p{
                transition: all .7s ease-in-out;
                opacity: 0%;
            }
        }
        &:hover {
                .single__cours__image { 
                    img {
                        width: 100%;
                        height: 0%;
                        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
                    }
                } 
                .single__cours__description {
                    color: $color__background-body;

                    p{
                        opacity: 100%;
                    }
                } 
            
        }
    }
    @media screen and (min-width : $largeur__media--desktop){
        display: flex;
        flex-direction: row;
        height: 100%;
        color: rgb(0, 0, 0);
        .single__cours__intro {
            width: 50%;
            padding: 15px;
            background-color: $color__background-body-clip;
        }
        .single__cours__contenu{
            .single__cours__image { 
                img {
                    clip-path: polygon(100% 0, 32% 0, 0 100%, 100% 100%);
                }
            } 
            &:hover {
                    .single__cours__image { 
                        img {
                            clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
                        }
                    }              
            }  
        } 
        
    }
}
// page.php
.page__standard {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__titre{
        background-color: white;
        width: 100%;
        padding: 15px;
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 79%);
    }
    &__contenu{
        color: $color__principal__blanc;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        a{
            color: $color__principal__blanc;
        }
    }
    @media screen and (min-width : $largeur__media--desktop){
        display: flex;
        flex-direction: row;
        height: 100%;
        &__titre{
            display: flex;
            flex-direction: column;
            justify-content: center;
            clip-path: polygon(100% 0, 0 0, 0 100%, 53% 100%);
            font-size: 2em;
        }
        &__contenu{
            color: $color__principal__blanc;
            width: 100%;
            padding-bottom: 15px;
            padding-left: 15px;
            display: flex;
            flex-direction: column;
        }
    }
}
//front-page.php
.carousel {
    color: white;
    position: relative;
    width: 100%;
    min-height: 300px;
    .carousel__list{
        position: relative;
        height: 100%;
        transition: transform .7s ease-in-out;;
        &__slide{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            bottom: 0;
            width: 100%;
            min-height: 300px;
            &__image{
                height: 50%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    clip-path: polygon(0 0, 100% 0, 100% 68%, 0 100%);
                }
            }
            &__message{
                padding: 15px;
                h2{
                    font-size: 1em;
                }
            }
            @media screen and (min-width : $largeur__media--desktop){
                flex-direction: row;
                justify-content: space-between;
                &__image{
                    width: 70%;
                    img{
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                        clip-path: polygon(0 0, 80% 0%, 40% 100%, 0% 100%);
                    }
                }
                &__message{
                    width: 30%;
                    h2{
                        font-size: 2em;
                    }
                }
            }
        }
    }   
}
.carousel__nav{
    display: flex;
    justify-content: center;
    .carousel__indicateur{
        margin: 15px;
        padding: 15px;
        border: 0;
        border-radius: 10%;
        animation: joie 2s infinite ease-in-out;
        background-color: $color__principal__coloration;
        &.slide-Active{
            background-color: $color__principal__blanc;
        }
    }
}