.site__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color__background-header;
  color: $color__font-header;

  @media screen and (min-width: $largeur__media--tablette) {
    flex-direction: row;
    justify-content: space-between;
  }
  &__titre{
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    a{
        text-decoration: none;
    }
    @media screen and (min-width: $largeur__media--tablette) {
        margin: 0 0 0 6em;
        padding-right: 5%;
    }
    .header__titre {
      margin: 0.2em 0 0 0;
      font-size: clamp(3rem, 4vw, 4rem);
      background: url(https://s2.svgbox.net/loaders.svg?ic=rings) center left 4%;
      background-size: 20%;
      background-repeat: no-repeat;
      font-family: $font__titre;
    }
    .header__description {
      color: white;
      font-size: clamp(.8rem, 1vw, 4rem);
      font-family: $font__main;
    }
  }

  &__util{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    @media screen and (min-width: $largeur__media--tablette) {
        align-items: flex-end;
        padding-right: 3%;
    }
    .icon{
        display: flex;
        &__lien{ 
            padding: 5px 3px;
            &:hover svg{
                fill: $color__main-carte-hover;
            }

        }
    }
    .recherche{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 300px;
        @media screen and (min-width: $largeur__media--tablette) {
            width: 200px;
            }
        &__input{
            color: #000;
            background: rgba(0,0,0,.2);
            width: 90%;
            height: 30px;
            border-radius: 5px;
            appearance: none;
            outline: none;
            border: none;
            padding: 7px;
            transition: all 0.3s ease-out;
            &:hover, &:not(:placeholder-shown){
                background: $color__background-barre;
            }
            &::placeholder{
                color: rgb(41, 41, 41);
            }
        }
        &__bouton{
            background-color: $color__background-footer;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0px 5px 5px 0px;
            border: none;
            padding: 0px 0px;
            max-width: 0px;
            transition: all 0.3s ease-out;
            svg {
                transition: all 0.3s ease-out;
                opacity: 0%;
            }
        }         
    }
    
    input:not(:placeholder-shown) {
        + .recherche__bouton {
            padding: 1px 6px;
            max-width: 36px;
            svg {
                opacity: 100%;
            }
        }
      }
}
}