.site__header {
    background-color: $color__background-header;
    color: $color__font-header;
    padding-left: 10px;

    .header__titre {
      font-size: 3em;
      font-family: $font__titre;
    }
    .header__desc {
      font-size: 1.5rem;
      font-family: $font__main;
    }
  }