.site__barre{
    width: 100%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    column-gap: 10px;
}
#chk-burger {
    display: none;
}
#burger {
    cursor: pointer;
}
#chk-burger:checked ~ .menu-principal-container {  
    max-height: 1000px;
    padding : 15px 0 0 0;    
   }
.menu-principal-container{ 
overflow: hidden;
max-height: 0px;
transition: all .25s ease-out;
padding : 0 0 0 0;
    .menu{
        list-style-type: none;
        margin : 0;
        padding :0;
    }
    .menu-item{
        margin:0;
        padding : 0;
        a{
            display : block;
            text-decoration: none;
            padding: 5px 5px 5px 15px;
            &:hover {
                background-color: $color__background-link-hover;
            }
        }
    }
}
@media screen and (min-width: $largeur__media--tablette) {
    #burger {
        display: none;
    }
    .menu-principal-container{
        display: block;
        max-height: 1000px;
    }
}








